/*https://hamvocke.com/blog/lets-create-a-terminal-color-scheme/*/
body {
    background: #1A2533;
    color: #EAEDF1;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}